body {
  font-family: sans-serif;
  padding: 20px;
  background-color: lightgray;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.box {
    min-width: 200px;
}